$color-background-dark: #DFE3EB;
$color-background-light: #EBEFF7;

$color-text-darkgray: #656565;

$color-rating-gray: #CCCCCC;
$color-rating-yellow: #FFC107;

$color-orange: #FF9300;

$color-form-border: #939FB8;